---
- name: Update apt cache
  become: yes
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  become: yes
  apt:
    name:
      - curl
      - git
      - software-properties-common
      - python3-pymysql  # CRITICAL: This fixes your MySQL module error
    state: present
